.header__logo {
    max-width: 142px;
    min-height: 33px;
}

@media screen and (max-width: 918px) {
    .header__logo {
        margin-left: 19px;
    }
}

@media screen and (max-width: 440px) {
    .header__logo {
        max-width: 104px;
        min-height: 25px;
        margin-left: 27px;
    }
}