.popup__close-button {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/Close-button.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .7;
}

@media screen and (max-width: 440px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}