.profile__description {
    color: white;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__description {
        text-align: center;
    }
}

@media screen and (max-width: 440px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }
}