.card__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-position: center;
    margin: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    padding-left: 16px;
}


.card__like:hover {
    opacity: .5;
}

    