.popup__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
    max-width: 358px;
    padding: 0;
    padding-bottom: 10px;
    outline: 0;
    margin: 0;
}