.header {
    max-width: 880px;
    padding-bottom: 41px;
    padding-top: 45px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 440px) {
    .header {
        padding-top: 28px;
        padding-bottom: 32px;
    }
}